div.calendar > .day_of_week {
	visibility: visible;
	width: auto;
}

div.calendar > .calendar-item {
	height: 6em;
}

div.calendar > .calendar-item > .date {
    align-self: start;
    position: absolute;
    background: rgba(255, 255, 255, 0.87);
}

div.calendar > .calendar-item > .recipe_img > a > img {
    max-height: 6em;
}

div.calendar > .other_month {
	background-color: #e2e2e2;
}