section.calendar > h2 {
    text-align: center;
}

div.calendar {
	width: 100%;
}

div.calendar > .calendar_head {
	display: flex;
}

div.calendar > .calendar_head > * {
	flex-basis: 14.3%;
	font-weight: bold;
}

div.calendar {
	display: grid;
	grid: auto repeat(5, 1fr) / auto repeat(7, 1fr);
	grid-auto-flow: row dense;
	grid-gap: 2px;
}

div.calendar:before {
	grid-column: 1;
	grid-row: 1;
	content: " ";
}

div.calendar > .day_of_week, div.calendar > .week {
	font-weight: bold;
}

div.calendar > .week {
	grid-column: 1;
	align-self: center;
}

div.calendar > .day_of_week {
	grid-row: 1;
	justify-self: center;
	visibility: hidden;
    width: 2ex;
}

div.calendar > .day_of_week:first-letter {
	visibility: visible;
}

div.calendar > .calendar-item {
	background: white;
	padding: 0.2em;
	height: 4em;
	display: flex;
    flex-direction: column;
}

div.calendar > .calendar-item > .date {
    position: relative;
    text-align: center;
    align-self: center;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
}

div.calendar > .calendar-item > .date.today {
	font-weight: bold;
}

div.calendar > .calendar-item > .date.today:before {
	content: " ";
	width: 1.4em;
    height: 1.4em;
	border: 0.05em solid red;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

div.calendar > .other_month > .date {
	color: grey;
}

div.calendar > .other_month > .date {
	background-color: #e7e7e7;
}

div.calendar > .calendar-item > .recipe_img {
    align-self: center;
    justify-self: center;
    display: block;
	max-height: 100%;
	overflow: hidden;
}

div.calendar > .calendar-item > .recipe_img > a {
	
}

div.calendar > .calendar-item > .recipe_img > a > img {
	max-width: 100%;
    max-height: 4em;
}