header {
	background-color: #333;
	border: 1px solid black;
	color: white;
    display: grid;
    grid-template: auto minmax(max-content, auto) / auto 12em;
    grid-template-areas: 
        "title login"
        "nav login";
    grid-gap: 0.5em;
    padding: 0.5em;
}

header > hgroup#login,
header > hgroup#logout {
    grid-area: login;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

header > hgroup#login > h2,
header > hgroup#logout > h2 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

header > hgroup#login > form,
header > hgroup#logout > form {
    display: grid;
    text-align: right;
    grid-template-columns: auto auto;
    grid-gap: 0.2em;
}

header > hgroup#login > form input,
header > hgroup#logout > form input {
    grid-column: 1/3;
    transition: border 1;
}

header > hgroup#login > form a > button, 
header > hgroup#login > form input,
header > hgroup#logout > form a > button, 
header > hgroup#logout > form input {
    border-radius: 0.3em;
    font-size: 0.7em;
    padding: 0.3em;
    font-family: sans-serif;
}

header > hgroup#login > form a > button,
header > hgroup#logout > form a > button {
    width: 100%;
}

header > hgroup#login > form input.invalid,
header > hgroup#logout > form input.invalid {
    border-color: red;
}

header > #title {
    grid-area: title;
}

header > a#title {
    text-decoration: none;
    color: white;
}

header > a#title:hover {
    text-decoration: underline;
}

header > a#title:visited {
    color: white;
}

header > #title > h1 {
	font-family: AppleChanary, Apple Chancery, URW Chancery L, cursive;
}

header > nav {
    grid-area: nav;
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
}

header > nav > a {
    margin-right: 0.6em;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 1.4em;
	color: white;
}

header > nav > a.active {
    color: #54c0c1;;
    font-weight: bold;
}

header > nav > a:hover {
    text-decoration: underline;
}